.fab {
  position: fixed;
  right: 20px;
  bottom: 32px;
  width: 70px;
  height: 70px;
  background: var(--color-9395d3);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.fab:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08);
}

@media (max-width: 440px) {
  .fab {
    width: 54px;
    height: 54px;
    right: 12px;
    bottom: 18px;
  }
}
@media (max-width:370px) {
  .fab {
    width: 44px;
    height: 44px;
    right: 4px;
    bottom: 6px;
  }
}
@media (min-width: 441px) and (max-width: 767px) {
  .fab {
    width: 62px;
    height: 62px;
    right: 20px;
    bottom: 24px;
  }
}
@media (min-width: 768px) {
  .fab {
    width: 76px;
    height: 76px;
    right: 30px;
    bottom: 44px;
  }
}
.plusIcon {
  width: 21px;
  height: 23.6px;
  filter: drop-shadow(0 0 2px var(--color-ffffff));
}
